<div class="animated fadeIn">

  <div class="parallax">
    <h1 id="header" class="letra somb">Refugeo</h1>
  </div>
  <section class="ftco-section bg-light ftco-no-pt ftco-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate fadeInUp ftco-animated">
          <div class="d-block services active text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="material-icons icon-home">
                verified_user
              </span>
            </div>
            <div class="media-body mt-5">
              <h3 class="heading  ">Simplicité</h3>
              <p>Un logiciel pour la gestion de votre Refuge et de votre Association.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate fadeInUp ftco-animated">
          <div class="d-block services text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="material-icons icon-home">
                pets
              </span>
            </div>
            <div class="media-body  mt-5">
              <h3 class="heading ">Animaux</h3>
              <p>Tous types d'animaux
                Nombre illimité de dossier.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate fadeInUp ftco-animated">
          <div class="d-block services text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="material-icons icon-home">
                medical_services
              </span>
            </div>
            <div class="media-body mt-5">
              <h3 class="heading  ">Médical</h3>
              <p> Soins et rappels de vaccins
                Suivi des animaux</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
 